/* ==========HERO SECTION START============= */

#hero .hero-inner {

    height: 30vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.hero-text h1 {
    font-size: 72px;
    font-weight: 700;
}

.hero-text p {

    font-size: 24px;
    font-weight: 400;
    text-align: justify;
}

.hero-btn .see-work {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    padding: 15px 20px;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.hero-btn .see-work:hover i.fas {

    animation: down 1s linear infinite;
}

@keyframes down {

    0%,
    100% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }
}

/* ==========HERO SECTION END============= */

/* ==========PORTFOLIO SECTION START============= */

#portfolio {
    position: relative;
    border-radius: 10px;
}

.bg-one,
.bg-two,
.bg-three,
.bg-four,
.bg-five {
    border-radius: 10px;
}

.bg-one {
    background-color: #FC5858;
}

.bg-two {
    background-color: #000000;
}

.bg-three {
    background-color: #02013D;

}

.bg-four {
    background-color: #4944A0;

}

.bg-five {
    background-color: #08D0A0;

}

.portfolio-text {
    font-family: 'Poppins', sans-serif;
    width: 518px;
    color: #fff;
    position: relative;
    left: 26%;
    top: 30%;
}

.portfolio-text h2 {

    font-size: 36px;
    font-weight: 500;
}

.portfolio-text p {

    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.white-row {
    height: 2px;
    width: 50px;
    background: #fff;
    position: relative;
    margin-top: 50px;
}

.view-app {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 15px 20px;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.view-app:hover {
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: -1px -1px 5px rgba(207, 204, 204, 0.5),
        1px 1px 10px rgba(255, 255, 255, 0.719);
    border-radius: 5px;
    color: #fff;
    -webkit-animation: anm2 .5s linear infinite;
    animation: anm2 .5s linear infinite;
}

.portfolio-img img {
    padding: 20px;
}

.mb-200 {
    margin-bottom: 200px;
}

/* ==========PORTFOLIO SECTION END============= */
/* media query */
/* MEDIA QUERY */

@media all and (max-width:1399px) {
    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text p {
        font-size: 22px;

    }

    .portfolio-text {

        left: 15%;

    }

}


@media all and (max-width:1199px) {
    .hero-text h1 {
        font-size: 54px;

    }

    .portfolio-text {

        left: 3%;
    }

}

@media all and (max-width:991px) {


    .portfolio-text {
        left: 16%;
    }

    #header ul li a:hover {
        border-bottom: 1px solid transparent;
        color: #219b0c !important;
    }
}

@media all and (max-width:576px) {


    .portfolio-text {
        left: 0;
    }
}

@media all and (max-width:468px) {
    #hero .hero-inner {
        height: 20vh;
    }

    .hero-text h1 {
        font-size: 36px;

    }

    .hero-text p {
        font-size: 20px;
        text-align: center;
    }

    .portfolio-text p {
        font-size: 16px;
        width: 300px;

    }

    .portfolio-text {
        text-align: left;
        margin-left: 50px;
    }
}

@media (min-width:200px) and (max-width:525px) {
    .hero-text h1 {
        font-size: 40px;

    }

    .hero-text p {
        font-size: 14px;
        text-align: center;
    }
}



@media all and (max-width:375px) {
    .hero-text h1 {
        font-size: 36px;

    }

    .portfolio-text {
        left: 0;
    }

    .portfolio-text p {
        width: 320px;
    }
}


@media all and (max-width:432px) {
    .portfolio-text p {
        width: 350px;
    }
}

@media all and (max-width:432px) {
    .hero-btn {
        text-align: center;
    }
}

@media all and (max-width:450px) {
    .portfolio-text p {
        width: 342px;
        margin: 0;

    }
}



@media all and (max-width:767px) {
    .portfolio-text {
        left: 0;
    }
}

@media all and (max-width:524px) {
    .portfolio-text p {

        width: 458px;
    }
}

@media all and (max-width:500px) {
    .portfolio-text {
        text-align: left;
        margin-left: 30px;
    }

    .portfolio-text p {
        width: 352px;
        font-size: 14px;
        left: 0;
    }
}

@media all and (max-width:392px) {

    .portfolio-text p {
        width: 258px;
        font-size: 14px;
        left: 0;
    }
}



/* ==========PORTFOLIO SECTION END============= */